<!DOCTYPE html>
<html ng-app="klaudiabis">
<head lang="pl">
    <meta charset="UTF-8">
    <meta content="Dziewiarsto maszynowe, producent odzieży, swetry, żakiety, odzież damska i młodzieżowa" name="description">
    <meta content="dziewiarstwo, maszynowe, swetry, zakiety, odziez damska, odziez" name="keywords">
    <title>Klaudia-Bis, Dziewiarstwo maszynowe, klaudiabis</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="assets/css/klaudiabis.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="stylesheet" type="text/css" href="assets/css/klaudiabis.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

</head>
<body layout="column" ng-controller="AppCtrl">
<div class="navbar-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo orange-text text-darken-1 light">PPHU Klaudia Bis</a>
            <ul class="right hide-on-med-and-down">
                <li ng-repeat="item in menu"><a href="{{item.link}}" class="orange-text text-darken-1">{{item.title | translate}}</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li ng-repeat="item in menu"><a href="{{item.link}}" class="orange-text text-darken-1">{{item.title | translate}}</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" data-sidenav="left" class="button-collapse orange-text text-darken-1"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
<div ng-view></div>

<footer class="page-footer brown darken-4">
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/angular.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script src="assets/js/angular-aria.min.js"></script>
<script src="assets/js/angular-translate.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/materialize.min.js"></script>
<script src="assets/js/angular-materialize.js"></script>
<!-- app -->
<script src="app/app.js"></script>
<!--<script src="app/navigation/navigation.js"></script>-->
<script src="app/language/language.js"></script>
<script src="app/products/products.js"></script>
<script src="app/metrics/productMetrics.js"></script>
<script src="app/contact/contact.js"></script>
<!--<script src="assets/js/vendor/aga.js"></script>-->

</body>
</html>