<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot scrollspy" id="home">
        <div class="container">
            <br><br>

            <h1 class="header center grey-text text-lighten-4">{{'COVER' | translate}}</h1>

            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-3">{{'COVER_TEXT' | translate}} {{'COOPERATION' | translate}}</h5>
            </div>
            <div class="row center">
                <a href="#about" id="download-button"
                   class="btn-large waves-effect waves-light orange darken-1">{{'MORE' | translate}}</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="assets/img/bg2.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text text-darken-1"><i class="material-icons medium">flash_on</i></h2>
                    <h5 class="center">{{'EXPERIENCE' | translate}}</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                        components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text text-darken-1"><i class="material-icons medium">group</i></h2>
                    <h5 class="center"></h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that
                        incorporates components and animations that provide more feedback to users. Additionally, a single underlying
                        responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text text-darken-1"><i class="material-icons medium">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get
                        started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container scrollspy" id="about">
            <div class="row center">
                <h3 class="header grey-text text-lighten-4">{{'ABOUT_HEAD' | translate}}</h3>
            </div>
            <div class="center row">
                <h5 class="header col s12 light grey-text text-lighten-3">{{'ABOUT_PROFILE' | translate}}<br/>{{'ABOUT_MACHINES' |
                    translate}}</h5>
                <h5 class="header col s12 light grey-text text-lighten-3">{{'ABOUT_COOPERATION' | translate}}</h5>
                <h5 class="header col s12 light grey-text text-lighten-3">{{'COOPERATION' | translate}}</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/img/bg3.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section scrollspy" id="products">

        <div class="row">
            <div class="col s12 center brown-text">
                <h4>{{'HOME.PRODUCTS' | translate}}</h4>

                <div ng-repeat="pair in products | limitTo: paginationLimit()" ng-hide="loading">
                    <div class="row">
                        <div class="col s12 m6" ng-repeat="prod in pair">
                            <div class="card large" ng-click="selectProduct(prod.productId.id)" ng-controller="ProductCtrl">
                                <div class="card-image waves-effect waves-block waves-light waves-orange" style="height: 400px">
                                    <img class="activator" ng-src="{{prod.thumbnailUrl}}">
                                </div>
                                <div class="card-content left-align activator">
                                    <p class="area">{{prod.year}}<i class="material-icons right">visibility</i><span
                                            class="right">{{views}}</span>
                                    </p>
                                    <span class="card-title grey-text text-darken-4">{{prod.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <products-loader ng-show="loading"></products-loader>
                <a class="waves-effect waves-light btn orange darken-1" ng-show="hasMoreItemsToShow() && !loading"
                   ng-click="showMoreItems()">{{'VIEW_MORE' | translate}}</a>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h1 class="header center grey-text text-lighten-4">{{'HOME.CONTACT' | translate}}</h1>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="assets/img/bg4.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container" ng-controller="ContactCtrl">
    <div class="section scrollspy" id="contact">
        <div class="row">

            <form role="form" name="contactForm" class="col s8">

                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" ng-model="message.name" required="required" class="validate">
                        <label for="name" data-error="{{'INVALID_YOUR_NAME' | translate}}" data-success="Ok">{{'YOUR_NAME' |
                            translate}}</label>
                    </div>


                    <div class="input-field col s6">
                        <input id="email" type="email" ng-model="message.email" required="required" class="validate">
                        <label for="email" data-error="{{'INVALID_YOUR_EMAIL' | translate}}" data-success="Ok">{{'YOUR_EMAIL' |
                            translate}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="message-sub" type="text" ng-model="message.subject" required="required" class="validate">
                        <label for="message-sub" data-error="{{'INVALID_MESSAGE_SUBJECT' | translate}}" data-success="Ok">{{'MESSAGE_SUBJECT'
                            | translate}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="text_area" class="materialize-textarea" ng-model="message.body" required="required"
                                  class="validate"></textarea>
                        <label for="text_area" data-error="{{'INVALID_YOUR_MESSAGE' | translate}}" data-success="Ok">{{'YOUR_MESSAGE' |
                            translate}}</label>
                    </div>
                </div>

                <div>
                    <a class="btn orange darken-1" ng-click="send()"
                       ng-class="{'disabled' : !contactForm.$valid, 'waves-effect waves-light' : contactForm.$valid}"
                       ng-hide="sendingMessage" ng-disabled="!contactForm.$valid">{{'SEND_MESSAGE' |
                        translate}}<i class="material-icons right">chat_bubble_outline</i></a>
                    <products-loader ng-show="sendingMessage"></products-loader>
                </div>
            </form>

            <div class="col center s4 m4">
                <h5>PPHU Klaudia Bis</h5>
                <h6>Sosnowa 28</h6>
                <h6>42-360 Poraj</h6>

                <h5><i class="material-icons orange-text darken-1">phone</i>+48 537 520 800</h5>
                <h5><i class="material-icons orange-text darken-1">email</i>kontakt@klaudiabis.pl</h5>
            </div>


        </div>
    </div>
</div>