@import 'common.less';
@import 'klaudiabis-animate.less';
@import 'products.less';
@import 'details.less';

.parallax-container {
  height: 380px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: @orange;
}

.input-field input[type=email]:focus + label {
  color: @orange;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid @orange;
  box-shadow: 0 1px 0 0 @orange;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid @orange;
  box-shadow: 0 1px 0 0 @orange;
}

.input-field textarea:focus {
  border-bottom: 1px solid @orange;
  box-shadow: 0 1px 0 0 @orange;
}